


:root {
    --main-bg-color: rgb(29, 22, 22);
    --main-content-color: rgb(142, 22, 22);
    --main-font-color: rgb(238, 238, 238);
    --main-border-color: rgb(216, 64, 64);
}

body {
    background-color: var(--main-bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

header {
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 50px; 
}

header nav button, div#logo {
    color: var(--main-font-color);
}

div#logo {
    padding: 0;
    width: 100px;
    height: auto;
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    margin-left: 0;
}

#btn-home {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.3rem;
    font-style: italic;
}

svg {
    width: 50px;
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
    ;
}

header nav button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

div#content {
    width: 90%;
    height: auto;
    background-color: var(--main-content-color);
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.divHeadline {
    color: var(--main-font-color);
}

.divHeadline h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.divHeadline p {
    text-align: justify;
    font-size: 1.5rem;
}

